.ScheduleName{
    background-color: rgba(237,71,58,.3);
    height: 22px;
    margin: 0 2px;
    border-radius: 12px;
}
.ScheduleName p{
    padding: 0 8px;
    color: #555;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}